body{
  background-image: url(10743975_jpg.jpg)
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: aliceblue;
}

.bio {
  text-align: center;
  color: rgb(254, 253, 253);
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 26px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(140, 253, 201);
}
